* {
    box-sizing: border-box;
}

.abu-abu {
    background-color: #eaeaea;
}
.silver {
    background-color: #7e7e7e;
}


/*  ========  LOGIN & DAFTAR ==================== */
.daftarlogin {
    margin-top: 50px;
}

.daftarlogin img {
    max-width: 100px;
}

.daftarlogin .judul {
    font-size: xx-large;
    margin-top: 15px;
    font-weight: 700;
}

.daftarlogin form {
    margin: 10px 50px 0 50px;
}

.daftarlogin button {
    margin-top: 10px;
}

.daftarlogin .kaki {
    margin-top: 15px;
}

/* HALAMAN TRANSAKSI */
/* ==== FORMULIR INPUT TRANSAKSI =====*/
.hal-trx .input-transaksi {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1e73be;
    color: #ffffff;
}

.hal-trx .konten {
    width: 90%;
    margin: 0 5%;
}
.hal-trx .input-transaksi p {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 2px;
}

.hal-trx .btn-tengah {
    margin: 0 3px;
}

.hal-trx .tabs {
    padding: 5px 10px;
    margin: 7px 0 14px 0;
    background-color: #fff;
}

.hal-trx .tabs button {
    width: 100%;
    padding: 3px;
    font-size: small;
    font-weight: 700;
}

select {
    margin-bottom: 14px;
}

#operator-seluler {
    display: block;
    background-color: #eaeaea;
    color: #000;
    margin: 0 0 15px 0;
    padding: 0 3px;
    font-size: 13px;
    font-weight: 700;
}

/* ======= PRODUK ==============*/
.hal-trx .daftar-produk {
    margin-top: 180px;
}

.hal-trx .produk {
    padding: 15px 10px;
    margin: 7px 0;
    border-top: 3px solid #1e73be;
    background-color: #fff;
}

.hal-trx .produk:hover {
    background-color: #ffc107;
}

.hal-trx .produk .gambar {
    display: block;
    width: 20%;
    float: left;
    padding-right: 5px;
}
.hal-trx .produk .gambar img {
    width: 100%;
}

.hal-trx .produk .detail {
    display: block;
    width: 80%;
    padding-left: 5px;
}
.hal-trx .produk .detail p {
    margin: 0;
}

.hal-trx .nama-produk {
    font-weight: 700;
    font-size: medium;
}

.hal-trx .deskripsi-produk {
    font-style: italic;
    font-size: xx-small;
}